@using lab1rework.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@{ 
    int total = 0;
    int count = 0;
    KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
</div>
<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                @foreach (dynamic item in Model)
                {
                    total += item.Thanhtien;
                    count += item.Soluong;
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="@item.Anhbia"
                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.Tensach</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <a href="@Url.Action("CapnhatGioHang", "GioHang", new {MaDonHang = item.MaDonHang, MaSach = item.Masach, SoLuong = item.Soluong-1})" class="btn btn-link px-2"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="bi bi-dash"></i>
                                    </a>

                                    <input id="form1" min="0" name="quantity" value="@item.Soluong" type="number"
                                           class="form-control form-control-sm" style="width:50px" />

                                    <a href="@Url.Action("CapnhatGioHang", "GioHang", new {MaDonHang = item.MaDonHang, MaSach = item.Masach, SoLuong = item.Soluong+1})" class="btn btn-link px-2"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="bi bi-plus"></i>
                                    </a>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <h5 class="mb-0">@item.Giaban</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="@Url.Action("XoaGioHang", "GioHang", new {MaDonHang = item.MaDonHang, MaSach = item.Masach})" class="text-danger"><i class="bi bi-trash3-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            <div class="card mb-4">
                @using (Html.BeginForm())
                {
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="row">Tổng sản phẩm: @count</label>
                        </div>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="row">Tổng tiền: @total.ToString("#,##0,0") VNĐ</label>
                        </div>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="form-label" for="form1">Họ tên: @kh.HoTen</label>
                        </div>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="form-label" for="form1">Địa chỉ: </label>
                            <input type="text" class="form-control form-control-lg" name="DiachiKH" value="@kh.DiachiKH" />
                        </div>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="form-label" for="form1">SĐT nhận hàng: </label>
                            <input type="text" class="form-control form-control-lg" name="DienthoaiKH" value="@kh.DienthoaiKH" />
                        </div>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="form-label" for="form1">Ngày đặt: </label>
                            <input type="text" class="form-control form-control-lg" name="NgayDat" value="@DateTime.Now.ToString("yyyy-MM-dd")" disabled />
                        </div>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="row form-outline flex-fill">
                            <label class="form-label" for="form1">Ngày giao: </label>
                            <input type="text" class="form-control form-control-lg" name="NgayGiao" value="@DateTime.Now.AddDays(3).ToString("yyyy-MM-dd")" disabled />
                        </div>
                    </div>
                }
            </div>      

            <div class="card">
                 <div class="card-body">
                            <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
                 </div>
            </div>

            </div>
        </div>
    </div>
</section>
